<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/resources :: common-resources}">
	<!-- <title th:text="${title}">Title</title> -->
	
</head>

<body>
	<header th:replace="~{fragments/header :: header(${activePage})}"></header>

	<div layout:fragment="content" style="min-height: 52vh;">

	</div>
	
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	
	<!-- Scroll-top -->
	<button class="scroll-top scroll-to-target" data-target="html">↑</button>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="assets/js/global.js"></script>
	<script src="assets/js/server.js"></script>
	<script src="assets/js/header.js"></script>
<script th:src="@{${scripts}}"></script>
<script>
		function toggleContent(isChecked) {
			// Redirect with the toggle state to the controller to reload the page with the appropriate content
			console.log(isChecked);
			window.location.href = `?toggle=${isChecked}`;
		}
	</script>
</body>

</html>