<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/resources :: common-resources}">
	
</head>

<body>
	<header th:replace="~{fragments/header :: header(${activePage})}"></header>

	<div layout:fragment="content" style="min-height: 52vh;">

	</div>
	
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	
	<!-- Scroll-top -->
	<button class="scroll-top scroll-to-target" data-target="html">↑</button>

	<th:block th:replace="~{fragments/resources :: common-scripts}"></th:block>
</body>

</html>
