<div th:fragment="footer">
	<!-- Footer -->
	<footer class="footer-background">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-contact">
					<div class="footer-logo">
						<img src="assets/images/logo/LOGO_V3-WHITE.png" alt="SCT footer Logo">
					</div>
					<p><i class="bi bi-geo-alt-fill text-white me-2"></i>University Avenue, Glasgow</p>
					<p><i class="bi bi-envelope-fill text-white me-2"></i>inge.sorensen@glasgow.ac.uk</p>
					<p><i class="bi bi-envelope-fill text-white me-2"></i>davidscgriffith@icloud.com</p>
					<p><i class="bi bi-telephone-fill text-white me-2"></i></p>
				</div>
				<div class="col-md-4 footer-service">
					<div class="footer-heading">Service</div>
					<p><a class="nav-link text-white" th:href="@{/}">Home</a></p>
					<p><a class="nav-link text-white" th:href="@{/movies}">Films</a></p>
					<p><a class="nav-link text-white" th:href="@{/tv-shows}">TV Shows</a></p>
					<p><a class="nav-link text-white" th:href="@{/user-ratings}">User Center</a></p>
					<p><a class="nav-link text-white" th:href="@{/about}">About</a></p>
				</div>
				<div class="col-md-4 footer-about">
					<div class="footer-heading">Screen Carbon Test</div>
					<p>The Screen Carbon Test measures how well a film or TV show acknowledges and addresses the issue of climate change. 
						It allows you to rate the on-screen depiction of the environment and climate change using a questionnaire, 
						and then adds your score to an aggregated, user-generated Screen Carbon Rating. 
						The test is mainly aimed at evaluating films and TV shows produced since the United Nations' declaration of a Global Climate Emergency in December 2020, 
						but you can use it to rate any production.</p>
				</div>
			</div>
		</div>
	</footer>
	
	</div>