<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>AccountManage</title>
	<meta name="_csrf" th:content="${csrfToken.token}">
	<meta name="_csrf_header" th:content="${csrfToken.headerName}">

	<link href="../../table/css/uiduck.css" type="text/css" rel="stylesheet">
	<link href="../../table/css/simple.css" type="text/css" rel="stylesheet">

	<script src="../../js/axios.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
	* {
		margin: 0;
		padding: 0;
	}
</style>

<body>
	<!-- Add User Modal-->
	<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content" style="position: relative;">
				<div class="modal-header">
					<h5 class="modal-title">Add Account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="addUserFrom" autocomplete="off">
						<fieldset>
							<div class="mb-2">
								<label class="form-label col-form-label-sm fa-text-height">Username:</label>
								<input type="text" title="UserName" maxlength="24" id="adduname" name="username"
									class="username form-control form-control-sm" placeholder="Please enter Username">
							</div>
							<div class="mb-2">
								<label class="form-label col-form-label-sm">Full Name:</label>
								<input type="text" title="FullName" maxlength="200" id="addlogname" name="fullName"
									class="logName  form-control form-control-sm" placeholder="Please enter Full Name">
							</div>
							<div class="mb-2">
								<label class="form-label col-form-label-sm">Email:</label>
								<input type="email" title="Email" maxlength="50" id="addemail" name="email"
									class="email form-control form-control-sm" placeholder="Please enter Email">
							</div>
							<div class="mb-2">
								<label class="col-sm-2 col-form-label col-form-label-sm">Password:</label>
								<input type="password" title="Password" maxlength="72" id="addpw" name="password"
									class="form-control inputPassword form-control-sm"
									placeholder="Please enter a password">
							</div>
							<div class="mb-2">
								<label class="col-sm-4 col-md-5 col-form-label">Enter the Password Again:</label>
								<input type="password" title="Password" maxlength="72" id="addpw2" name="confirmPass"
									class="form-control inputPassword2 form-control-sm"
									placeholder="Enter the password again">
							</div>
							<div class="mb-2">
								<label class="col-sm-2 col-form-label">Description:</label>
								<textarea class="form-control cmmt form-control-sm" id="addcmmt" maxlength="350"
									name="description" title="description" aria-label="With textarea"></textarea>
							</div>
							<div class="mb-12">
								<button type="button" class="btn btn-primary btn-sm" id="sub" onclick="addUser()"
									style="margin-left: 30%;">Submit</button>
								<button type="button" class="btn btn-secondary btn-sm"
									data-bs-dismiss="modal">Exit</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-warning hide " style="z-index: 9999;position: absolute;left:42%;top: 0;">
		<strong>Warning！</strong>The input cannot be empty!
	</div>
	<!-- Update User Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="alert alert-warning hide " style="z-index: 100;position: absolute;left:42%;top: 0;">
			<strong>Warning！</strong>The input cannot be empty!
		</div>
		<div class="modal-dialog ">
			<div class="modal-content" style="position: relative;">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Account Edit</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="row" id="selectLogname" autocomplete="off">
						<div class="col-10">
							<label class="visually-hidden">Account</label>
							<input title="Account" type="text" name="account" maxlength="10"
								class="logName updateLogname form-control form-control-sm"
								placeholder="Please Enter Account">
						</div>
						<div class="col-2">
							<button type="button" onclick="selectBylogname()"
								class="btn btn-primary btn-sm mb-3 ">Query</button>
						</div>
					</form>
					<hr>
					<form id="updateUserForm" autocomplete="off">
						<fieldset>
							<input type="hidden" name="id" class="updateId">
							<div class="mb-2">
								<label class="form-label col-form-label-sm ">UserName:</label>
								<input type="text" title="UserName" id="updateUname" name="username"
									class="username updateUname form-control form-control-sm "
									placeholder="Please enter UserName">
							</div>
							<div class="mb-2">
								<label class="col-sm-2 col-form-label col-form-label-sm">Password:</label>
								<input type="text" title="Password" id="updatepw"
									class="inputPassword updatePw form-control form-control-sm"
									placeholder="Leave blank to keep password">
							</div>
							<div class="mb-2">
								<label class="col-sm-4 col-md-5 col-form-label">Password:</label>
								<input type="text" title="Password" id="updatepw2" name="password"
									class="inputPassword2 updatePw2 form-control form-control-sm"
									placeholder="Enter new password again">
							</div>
							<div class="mb-2">
								<label class="col-sm-2 col-form-label">description:</label>
								<textarea name="description" title="description"
									class="form-control form-control-sm cmmt updateCmmt"
									aria-label="With textarea"></textarea>
							</div>
							<div class="mb-12">
								<button type="button" onclick="submitUser()" class="btn btn-primary"
									style="margin-left: 30%;">Update</button>
								<button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Exit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" data-backdrop="true" id="deleteModal" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header text-sm-center">
					<h6 class="modal-title">You are prompted:</h6>
				</div>
				<div class="modal-body">
					Do you really want to delete this record?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Exit</button>
					<button type="button" id="deleteBtn" class="btn btn-sm btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<nav style="position: absolute;left: 2.5%;top: 2.5%;--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item" style="font-weight: bold"><a href="#">UserManagement</a></li>
			<li class="breadcrumb-item active" aria-current="page">AccountManagement</li>
		</ol>
	</nav>
	<br>

	<script type="text/html" id="barDemo">
    <button class="uiduck-btn btn-primary" style="padding: 5px 10px;font-size: 12px;" onClick=updateUser(uiduck5,this);>Update</button>
    <button class="uiduck-btn btn-primary" style="padding: 5px 10px;font-size: 12px;" onClick=deleteModal(uiduck5,this);>Delete</button>
  </script>

	<!-- Query -->
	<div class="container">
		<form class="row" id="selectData" style="--bs-gutter-x:0.5rem;" autocomplete="off">
			<div class="col-1" style="width: 6%;">
				<label class="col-form-label col-form-label-sm float-md-end">Full Name:</label>
			</div>
			<div class="col-2">
				<input title="FullName" type="text" maxlength="10" name="fullName" class="form-control form-control-sm"
					placeholder="Search by Full Name">
			</div>
			<div class="col-1" style="width: 6%;">
				<label class="col-form-label col-form-label-sm float-md-end">Username:</label>
			</div>
			<div class="col-2">
				<input title="UserName" type="text" maxlength="10" name="username" class=" form-control form-control-sm"
					placeholder="Search by Username">
			</div>
			<div class="col-1">
				<button type="button" class=" btn btn-sm btn-primary" onclick="setUserData()">Search</button>
			</div>
			<div class="col-1">
				<button type="button" data-bs-toggle="modal" data-bs-target="#addUserModal"
					class=" btn btn-sm btn-primary ">Add</button>
			</div>

		</form>
		<p></p>
		<div id="table-highlight"></div>
	</div>
	<div class="container mt-3">
  <h5>Total Users: <span id="totalUserCount">0</span></h5>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<script language="Javascript" src="../../table/js/jquery.min.js"></script>
<script language="Javascript" src="../../table/js/json2.js"></script>
<script language="Javascript" src="../../table/js/uiduck.js"></script>
<script src="../../assets/js/server.js"></script>
<script LANGUAGE="javascript">
	$(".alert").hide();
	var addUserModal = new bootstrap.Modal(document.getElementById('addUserModal'))
	var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))

	$('#addUserModal').on('hidden.bs.modal', function () {
		$("#addUserFrom :input").not("button,submit,reset,hidden,checkbox,radio").val("");
	})

	var uiduck5
	axios.get(server + "/user/all").then(resp => {
		var data = resp.data;
		uiduck5.setData(data, false);
	})

	uiduck5 = new uiduck('uiduck5', {
		templateId: "table-highlight",
		language: {tag: 'English'},
		style: {
			size: "mini",
			stripe: false,
			highlight: true,
			tbClass: "uiduck-table"
		},
		rightTool: {
			templateId: "barDemo",
			title: "operation",
			width: "180px"
		},
		loading: {
			icon: "uiduck-loading-6",
			time: 1000
		},
		page: true,
		pageOptions: {
			limit: 5,
			limits: ['5', '10', '15', '20', '25']
		},
		fieldOptions: [{
			index: true,
			title: "Serial"
		}, {
			key: "fullName",
			title: "Full Name"
		}, {
			key: "username",
			title: "Username"
		}, {
			key: "email",
			title: "Email"
		}, {
			key: "role",
			title: "Role"
		}]
	});

	var p = /[0-9a-z]/i;
	$(".form-control").blur(function () {
		$(".alert").removeClass("alert-success").addClass("alert-warning")
		$(".alert").css("top", "0px").finish();
		if ($(this).val().length == 0) {
			if (!$(this).hasClass("cmmt")) {
				showWarning($(this).attr("title") + "Input cannot be empty!");
			}
		} else if ($(this).hasClass("logName") && !p.test($(this).val())) {
			showWarning("Account must be letters or numbers!");
		} else if ($(this).hasClass("inputPassword")) {
			if ($(this).val().length > 0 && ($(this).val().length < 8 || !/[!@#$%^&*()]/.test($(this)[0].value))) {
				showWarning("Password must be at least 8 characters and include a special character!");
			}
		}
		if (($(this).hasClass("inputPassword") && $(".inputPassword").val() != $(".inputPassword2").val())) {
			showWarning("The passwords are inconsistent!!!");
		}
		if (($(this).hasClass("inputPassword2") && $(".inputPassword").val() != $(".inputPassword2").val())) {
			showWarning("The passwords are inconsistent!!!");
		}
	});

	function myAnimate() {
		$(".alert").stop();
		var width = $(window).width() / 2 - $(".alert").width() / 2;
		$(".alert").css("left", width + "px")
		$(".alert").show().animate({
			opacity: 0.7,
			top: '+100',
		}, 500).delay(1000).fadeOut();
	}

	function showAlert(success, message) {
		$(".alert").each(function () {
			$(this)
				.removeClass("alert-success alert-warning")
				.addClass(success ? "alert-success" : "alert-warning")
				.empty()
				.append($("<strong>").text(success ? "Success！" : "Warning！"))
				.append(document.createTextNode(message));
		});
		myAnimate();
	}

	function showWarning(message) {
		showAlert(false, message);
	}

	function showSuccess(message) {
		showAlert(true, message);
	}

	function updateUserCount() {
		axios.get(server + "/user/countUsers")
			.then(resp => {
				document.getElementById("totalUserCount").innerText = resp.data;
			})
			.catch(error => {
				console.error("Error fetching user count:", error);
			});
	}

	document.addEventListener("DOMContentLoaded", () => {
		updateUserCount();
	});

	function getSelectAll() {
		axios.get(server + "/user/all").then(resp => {
			var data = resp.data;
			uiduck5.setData(data, false);
			updateUserCount();
		})
	}

	function updateUser(e, index) {
		var userRow = e.getRow(index)
		myModal.show();
		$(".updateId").val(userRow.id);
		$(".updateUname").val(userRow.username);
		$(".updatePw").val("");
		$(".updatePw2").val("")
		$(".cmmt").val(userRow.description);
		$(".updateLogname").val(userRow.username)
	}

	const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute("content");
	const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute("content") || "X-CSRF-TOKEN";

	function submitUser() {
		var updateUserForm = $("#updateUserForm").serialize();
		var password = $("#updatepw").val();
		var confirmPassword = $("#updatepw2").val();
		if ($("#updateUname").val().length == 0) {
			showWarning("UserName cannot be empty!");
			$("#updateUname")[0].focus()
		} else if ((password.length > 0 || confirmPassword.length > 0) && password != confirmPassword) {
			showWarning("The passwords are inconsistent!");
		} else if (password.length > 0 && (password.length < 8 || !/[!@#$%^&*()]/.test(password))) {
			showWarning("Password must be at least 8 characters and include a special character!");
		} else {
			axios.post(server + "/user/update", updateUserForm, {
				headers: {
					"Content-Type": "application/x-www-form-urlencoded",
					[csrfHeader]: csrfToken
				}
			}).then(resp => {
				if (resp.data == "success") {
					showSuccess("Update succeeded!");
					getSelectAll();
				} else {
					showWarning("Update failed, please check again!");
				}
			})
			$(".alert").removeClass("alert-success").addClass("alert-warning")
		}
	}

	function addUser() {
		const user = {
			username: $("#adduname").val().trim(),
			fullName: $("#addlogname").val().trim(),
			email: $("#addemail").val().trim(),
			password: $("#addpw").val(),
			confirmPass: $("#addpw2").val(),
			description: $("#addcmmt").val().trim()
		};
		const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
		const strongPassword = user.password.length >= 8 && /[!@#$%^&*()]/.test(user.password);

		if (user.username.length == 0) {
			showWarning("UserName cannot be empty!");
			$("#adduname")[0].focus()
		} else if (user.fullName.length == 0) {
			showWarning("Full Name cannot be empty!");
			$("#addlogname")[0].focus()
		} else if (user.email.length == 0) {
			showWarning("Email cannot be empty!");
			$("#addemail")[0].focus()
		} else if (!emailPattern.test(user.email)) {
			showWarning("Email is invalid!");
			$("#addemail")[0].focus()
		} else if (user.password.length == 0) {
			showWarning("Password cannot be empty!");
			$("#addpw")[0].focus()
		} else if (user.password != user.confirmPass) {
			showWarning("The passwords are inconsistent!");
		} else if (!strongPassword) {
			showWarning("Password must be at least 8 characters and include a special character!");
			$("#addpw")[0].focus()
		} else {
			axios.post(server + "/user/admin/create", user, {
				headers: {
					"Content-Type": "application/json",
					[csrfHeader]: csrfToken
				}
			}).then(resp => {
				if (resp.data == "success") {
					getSelectAll();
					showSuccess("User added successfully!");
				}
			}).catch(error => {
				const message = error.response?.data?.message || error.response?.data || "User add failed!";
				showWarning(message);
			})
			$(".alert").removeClass("alert-success").addClass("alert-warning")
		}
	}

	function deleteModal(e, index) {
		var deleteM = new bootstrap.Modal(document.getElementById('deleteModal'));
		deleteM.show();
		$("#deleteBtn").unbind("click")
		$("#deleteBtn").bind("click", function () {
			var id = e.getRow(index).id
			axios.delete(server + "/user/admin/" + id, {
				headers: {
					[csrfHeader]: csrfToken
				}
			}).then(resp => {
				if (resp.data == "success") {
					getSelectAll();
					showSuccess("Delete user successfully!");
				} else {
					showWarning("Delete user failed!");
				}
			}).catch(error => {
				const message = error.response?.data?.message || error.response?.data || "Delete user failed!";
				showWarning(message);
			})
			$(".alert").removeClass("alert-success").addClass("alert-warning");
			deleteM.hide();
		})
	}

	function selectBylogname() {
		var logname = $("#selectLogname").serializeArray();
		if (p.test(logname[0].value)) {
			var jsonStr = $("#selectLogname").serialize();
			axios.post(server + "/user/selectByLogUsername?" + jsonStr).then(resp => {
				if (resp.data == "noExist") {
					showWarning("The account does not exist, please re-enter it!");
				} else {
					$(".updateUname").val(resp.data.uname);
					$(".updatePw").val(resp.data.pwd);
					$(".cmmt").val(resp.data.cmmt);
				}
			})
		} else {
			showWarning("Account is a number or letter, please re-enter it!");
		}
	}

	function setUserData() {
		var fromData = $("#selectData").serialize();
		axios.get(server + "/user/selectByUser?" + fromData).then(resp => {
			uiduck5.setData(resp.data, false);
		})
	}
</script>

</html>
