<!DOCTYPE html>
<html layout:decorate="~{layouts/default}">

<head>

	<title th:text="${title}"></title>

</head>

<body>
	<div layout:fragment="content">

		<!-- pageBody start -->
		<main class="container py-5 px-5">


			<h2 class="py-3">Privacy Notice for use of your data from the Screen Carbon Test</h2>

			<div class="py-3">
				<h3 class="pb-3">Your Personal Data</h3>

				<p>
					The University of Glasgow IT Service and the Screen Carbon Test originators David Griffith and Dr
					Inge Sørensen,
					employed at The University of Glasgow, will be what is known as the ‘Joint Data Controllers’
					of your personal data processed in relation the Screen Carbon Test.
				</p>
				<p>
					This privacy notice will explain how we will process your personal data.
				</p>
			</div>
			<div class="my-3">
				<h3 class="pb-3">Why we need it</h3>

				<p>
					We are collecting your basic search and server data such page imprints (cookies) when you use the
					site.
					This is in order to record the rating of the films and TV programmes that you score in order to
					create the aggregate public Screen Carbon Test score.
					You can delete the cookies anytime, and your anonymous score is collated into the joint and
					aggregated,
					public-facing Screen carbon rating.
				</p>

				<p>
					We do not collect your individual scores unless you opt in to create a profile.
				</p>
				<p>
					If you chose to create a profile, we collect your name and email address in order to create an entry
					for you on the public database.
					This is in order to make a profile for you so that you can save your scored films.
					We will only collect the data you yourself provide when you create a profile on the database,
					and that we need to provide and oversee this service to you.
				</p>
				<p>
					We do not collect any data, other than what you give us permission to via your profile.
				</p>
			</div>
			<div class="py-3">
				<h3 class="pb-3">
					Legal basis for processing your data
				</h3>

				<p>
					By creating a profile you opt in to share the details that enable us to create your profile and
					contact you.
					This is voluntary. You give consent by opting in as you fill out the form to create a profile.
				</p>
				<p>
					There is no obligation for you to create a profile nor requirement to provide any information that
					you do not wish to share.
				</p>
				<p>
					This complies with the UK GPDR Article 6 (a and c).
				</p>
			</div>
			<div class="py-3">
				<h3 class="pb-3">What we do with it and who we share it with</h3>

				<p>
					All the personal data you submit is processed by staff at the University of Glasgow IT services and
					staff at University of Glasgow in the United Kingdom.
				</p>
				<p>
					This is entirely to provide a not-for-profit service to you and the public.
					We only use the data that you provide and this is automatically published on the Screen Carbon Test
					website.
				</p>
				<p>
					<strong>Hosting:</strong> The site is hosted on Euganeus.
				</p>
				<p>
					<strong>Encryption:</strong> The site is encrypted and change to this requires code-level access,
					which is restricted for security reasons.
				</p>
				<p>
					<strong>Role-Based Access &amp; Authentication:</strong> The login system ensures that only
					registered users can access their own details,
					with no visibility into others’ data. The authentication process enforces strong passwords, as
					expected.
				</p>
				<p>
					<strong>Maintenance Checks:</strong> Maintenance is conducted weekly.
					This site primarily relies on dependencies from Spring Boot (Java) and Maven package.
				</p>
				<p>
					<strong>Network Security:</strong> Maintenance is conducted weekly.
					This site primarily relies on dependencies from Spring Boot (Java) and Maven package.
				</p>
				<p>
					<strong>Data Backup and Recovery:</strong> Each virtual machine is backed up daily, with retention
					of up to a year.
				</p>
				<p>
					<strong>Automated Decision-Making or Profiling:</strong> No automated processes have been set up or
					are in use.
				</p>
				<p>
					<strong>Third parties:</strong> We do not share your information with third parties,
					other service providers or the other parts of the University of Glasgow.
				</p>
			</div>
			<div class="py-3">
				<h3 class="pb-3">How long do we keep it for </h3>

				<p>
					Your data will be retained by the University for as long as the database exists.
					After this time, your data will be securely deleted.
				</p>
			</div>
				<div class="py-3">
				<h3 class="pb-3">
					What are your <a
						href="https://www.gla.ac.uk/myglasgow/dpfoioffice/informationrequests/datasubjectrights/">rights</a>?*
				</h3>

				<p>
					You can request access to the information we process about you at any time by logging in to your
					profile.
				</p>
				<p>
					If at any point you believe that the information we process relating to you is incorrect,
					you can change and correct this by logging into your profile and updating them there.
				</p>

				<p>
					You also have the right to withdraw your consent at any time by deleting your profile.
					You will be sent an email asking you to confirm that you wish to delete your profile.
					Once you have confirmed this, your details will then be deleted from the database and our servers
					within 24 hours.
				</p>

				<p>
					If you wish to exercise any of these rights, please log in and delete your profile.
				</p>
			</div>
			<div class="py-3">
				<h3 class="pb-3">Complaints</h3>

				<p>
					If you wish to raise a complaint on how we have handled your personal data, you can contact us via
					the emails provided.
				</p>
				<p>
					If you are not satisfied with our response or believe we are not processing your personal data in
					accordance with the law,
					you can complain to the <a href="https://ico.org.uk/ ">Information Commissioner’s Office (ICO)</a>.
				</p>
			</div>
			<!-- pageBody end -->
		</main>

</body>

</html>