<!DOCTYPE html>
<html layout:decorate="~{layouts/default}">

<head>
	<title th:text="${title}"></title>

</head>

<body>
	<div layout:fragment="content" style="min-height: 550px; align-content: center;">
		<div class="container">
			<h2>Reset Password</h2>
			<div th:if="${message != null}" class="alert alert-danger mt-4 col-md-6" th:text="${message}"></div>
			<p th:if="${message != null}" class="mt-3">
				<a th:href="@{/login}">Back to login</a>
			</p>
			<form th:if="${token != null}" id="resetPasswordForm" class="mt-5 col-md-4">
				<input type="hidden" id="token" th:value="${token}"> <!-- Ensure the token is available -->
				<div class="mb-3">
					<label for="newPassword" class="form-label">New Password</label>
					<input type="password" class="form-control" id="newPassword" name="newPassword"
						placeholder="Enter new password" required>
				</div>
				<div class="mb-3">
					<label for="confirmPassword" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
						placeholder="Confirm new password" required>
				</div>
				<input type="hidden" th:name="_csrf" th:value="${csrfToken.token}" />
				<button type="submit" class="btn btn-primary">Update Password</button>
			</form>
			<div th:if="${token != null}" id="responseMessage" class="mt-3"></div> <!-- Placeholder for displaying response messages -->
		</div>
	</div>
</body>

</html>
