<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: auth-resources}">
</head>

<body>
	<!-- Contact Page Start -->
	<section class="fullPage-section p-0 bg-color">
		<div class="full-page__wrapper">
			<div class="full-page__image">
				<img src="assets/images/comming-soon.jpg" alt="comming-soon" />
				<div class="contact__overlay">
					<div class="contact__info">
						<h2 class="section__title">Register to save your screen carbon ratings!</h2>
					</div>
				</div>
			</div>
			<div class="full-page__inner">
				<div class="full-page__content">
					<div class="full-page__logo auth-logo-wrap">
						<img class="auth-logo" src="/assets/images/logo/LOGO_V3-BLACK_(NO_TEXT).png" alt="logo" />
					</div>
					<div class="form__inner">
						<form id="signupForm" action="#" class="form__wrapper p-0">

							<h2 class="popup__title">Create Account</h2>
							<div class="form-group">
								<label for="fullName">Full Name</label>
								<input type="text" name="fullName" id="fullName" class="form-control" required
									data-error="Please enter a name" placeholder="Enter your Full Name" />
							</div>
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" name="username" id="username" class="form-control" required
									data-error="Please enter a Username" placeholder="Enter your Username" />
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" class="form-control" required
									data-error="Please enter a valid email address" placeholder="Enter your Email" />
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control" required
									data-error="Please enter a password" placeholder="Password" />
							</div>
							<div class="form-group">
								<label for="confirmPass">Confirm Password</label>
								<input type="password" name="confirmPass" id="confirmPass" class="form-control" required
									data-error="Please confirm password" placeholder="Password" />
								<div class="password-hints"></div> <!-- This div is used to display password hints -->
							</div>

							<input type="hidden" th:name="_csrf" th:value="${csrfToken.token}" />

							<div class="submit__btn">
								<button type="button" class="btn btn-primary mt-0 w-100 register">Create
									Account</button>
							</div>
							<div class="account__desc justify-content-center">
								<div class="account__meta">
									Already have an account?
									<a href="/login">Login</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Page End -->

	<!-- Scroll-top -->
	<button class="scroll-top scroll-to-target" data-target="html">scroll</button>
	<!-- Scroll-top-end-->

	<th:block th:replace="~{fragments/resources :: common-scripts}"></th:block>

</body>

</html>
